

body
{
	font-family:Arial;
}

#white-div
{
	background-color: #ffffff; 
	width: 95%; 
	height: 100%; 
	margin-top: 110px; 
	margin-left: 2.5%;
	margin-right: 2.5%; 
	background-attachment: fixed;
	padding-bottom:70px;
	margin-bottom:90px;
}

footer
{
	background-color: #32403B; 
	width: 100%; 
	height: 50px; 
	bottom: 0px; 
	position: fixed; 
	font-family: arial; 
	color: #D6D6D6; 
	padding-top: 10px; 
	margin-top: 70px;
}

#navbar
{
	background-color:#32403B;
	width:57%;
	height:100px;
	top:0px; 
	float:right;
}